body {

  
    
    font-family: '微软雅黑','Trebuchet MS', Arial, Helvetica, sans-serif;
    
    font-size: 15px;
    
    color: #999999;
    
    /* line-height: 25px; */
    
    letter-spacing: 1px;

    background-image: url(../img/bgi1.jpg);

    /* background-size:cover; */
    background-size: 100% auto;

    height: 1200px;
    
    }

    .container-fluid{
        /* margin-top: 200px; */
        margin-top: 60%;
    }

    a {
        text-decoration: none; /* 去除默认的下划线 */
        outline: none;	/* 去除旧版浏览器的点击后的外虚线框 */
        color: rgb(0, 0, 0);	/* 去除默认的颜色和点击后变化的颜色 */ 
    }
     a:visited {
        text-decoration: none;
        color: rgb(0, 0, 0);
        } 
     a:hover {
            text-decoration: none;
        }

    .div1{
        text-align: center;
        margin-top: 30px;
    }
